/*
   1. 컨테이너는 825 픽셀로 하며 웹페이지의 중앙에 오게 한다.
   2. add 버튼 넓이 전체 다 차지하고
      배경 까만색에 글자 하얀색 
      호버시 배경 하얀색 글자 까만색으로 변경




*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 4px solid black;
}

/* 제품 */
.converse-title {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  padding: 15px;
}

.coverse-img {
  width: 280px;
}

/* 제품 정보 */
.price {
  font-size: 24px;
}

p {
  margin-bottom: 10px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.info:link,
.info:visited {
  color: black;
}

.info:hover,
.info:active {
  text-decoration: none;
}

/*제품 세부 정보*/
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  padding: 20px;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
