* {
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; 
  위의 패딩을 줄여서 한번에 적으면 
  아래와 같이 적을 수 있다.
  앞에 값은 위 아래 뒤에 값은 오른쪽 왼쪽을 나타낸다.
  */

  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3,
h4,
p,
li {
  /*글꼴*/
  font-family: sans-serif;
  color: #444444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /*줄 사이의 간격*/
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 30px;
}

li {
  /*font-size속성의 기본값은 16px이단*/
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  /*
   일반적으로 마지막에는 마진을 넣지 않기에]
   초기화 해준다.
  */
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  /*리스트 앞에 점 모양 없애기*/
  list-style: none;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li태그중의 자식들 태그 중 짝수인 애들*/
li:nth-child(even) {
  /* color: red; */
}

/* article p:last-child {
  color: red;
} */

/*스타일 링크*/

/*수도클래스로 a태그중에 href속성이 있는 애들만*/
a:link {
  color: #1098ad;
  /*링크 밑줄 없애기*/
  text-decoration: none;
}

/*a요소를 통해 링크를 방문했을때*/
a:visited {
  /* color: #777; */
}

/*a요소에 커서를 올려놨을떄*/
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/*a요소를 클릭했을떄*/
a:active {
  background-color: black;
  font-style: italic;
}

/*LVHA*/

/*css 출동 해결*/

/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/*css 상속
css에서 상속은 
부모 요소의 속성들을 자식요소에서 
물려 받는 것을 의미한다. 
허나 부모에서 속성을 지정했다고 해서
전부 자식들이 상속을 받는것은 아니다.
주로 text관련 속성들을 상속 받는다. 
*/

/*
 css 적용 우선 순위
 1. !important
 2. 인라인 css
 3. #id 선택자
 4. class 선택자 or 수도클래스
 5. 요소 선택자
 6. 유니버셜 선택자 *
*/

/*
유니버셜 선택자는 모든 요소에 적용되고 
상속이 존재하지 않는다.
*/
.post-img {
  width: 50%;
  height: auto;
}
